
 <a class="navbar-brand" href="/"><i class="fas fa-gamepad text-danger"></i></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion des jeux
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Ajouter un jeu</a>
                <a class="dropdown-item" href="/"><i class="fas fa-file-alt"></i>&nbsp;Liste des jeux</a>
            </div>
        </li> 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion des types de jeux
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Ajouter un type</a>
                <a class="dropdown-item" href="#"><i class="fas fa-file-alt"></i>&nbsp;Liste des types</a>
            </div>
        </li>    
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion des genres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;Ajouter un genre</a>
                <a class="dropdown-item" href="/gestion-jeux/genres"><i class="fas fa-file-alt"></i>&nbsp;Liste des genres</a>
            </div>
        </li>            
     </ul>
     <b class="text-white">Longue vie aux gamers</b>&nbsp;&nbsp;
 </div>